<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- MemberMapper.java(InterFace) 연결 -->
<mapper namespace="com.java.www.mapper.RentMapper">
	
	<!-- //캠핑리뷰 - 리스트(캠핑장)    전체글가져오기 
	<select id="rentCart_list" resultType="com.java.www.dto.ProductDto">
		select * from product where pro_id=#{proId}
	</select>-->
	
	<!-- 선택상품 장바구니에 넘기기 -->
	<insert id="rentCart_list">
		insert into rent_cart values('c' || rent_cart_seq.nextval, #{id}, #{proId}, 1)
	</insert>
	
	<!-- 장바구니에 리스트 -->
	<select id="rentCart" resultMap="product_rentcartDto">
		select cart_id, rent.id, rent.pro_id, rent.cart_count, pro.p_name, pro.p_price, pro.p_file
		from rent_cart rent, product pro where rent.pro_id = pro.pro_id
	</select>
	
	<!-- ProductDto, Rent_cartDto 합치기 선언 -->
	<resultMap id="product_rentcartDto" type="com.java.www.dto.Product_rentcartDto">
    	<collection property="cartDto" resultMap="cartDto"/>
    	<collection property="proDto" resultMap="proDto"/>
	</resultMap>
	<!-- Rent_cartDto 선언 -->
	<resultMap id="cartDto" type="com.java.www.dto.Rent_cartDto">
		<result column="cart_id" property="cart_id"/>
		<result column="id" property="id"/>
		<result column="pro_id" property="pro_id"/>
		<result column="cart_count" property="cart_count"/>
	</resultMap>
	<!-- ProductDto 선언 -->
	<resultMap id="proDto" type="com.java.www.dto.ProductDto">
		<result column="pro_id" property="pro_id"/>
		<result column="p_name" property="p_name"/>
		<result column="p_price" property="p_price"/>
		<result column="p_file" property="p_file"/>
	</resultMap>
	
	<!-- 품목삭제 버튼으로 해당품목만 삭제 -->
	<delete id="deleteOneCart">
		delete from rent_cart where cart_id=#{cart_id}
	</delete>
	<!-- 선택상품 삭제하기 -->
	<delete id="deleteCart">
		delete from rent_cart where cart_id=#{cart_id}
	</delete>
	
	<!-- 수량변경 -->
	<update id="updatecount_up">
		update rent_cart set cart_count=cart_count+1 where cart_id=#{cart_id}
	</update>
	<update id="updatecount_down">
		update rent_cart set cart_count=cart_count-1 where cart_id=#{cart_id}
	</update>
	<update id="updatecount">
		update rent_cart set cart_count=cart_count+1 where pro_id=#{pro_id}
	</update>
</mapper>